@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,300,900italic,700,900,300italic|Roboto:400,700,500,300|Lato:400,700,900,300,400italic,700italic,900italic,300italic|Revalia|Raleway:400,700);
.sform {
  position: relative;
}
.search-form {
  display: none;
  padding: 10px 0 5px;
  position: relative;
  width: 100%;
  z-index: 1100;
}
@media (max-width: 767px) {
  .search-form {
    width: 100%;
  }
}
.search-form form {
  position: relative;
}
.search-form_label {
  display: block;
  background: #383838;
  border: 2px solid #616164;
  width: 100%;
  padding: 10px 50px 10px 10px;
  background: #be1e2d;
  border: 1px solid #fff;
  -moz-box-shadow: inset 0 0 4px -1px #ffffff;
  -webkit-box-shadow: inset 0 0 4px -1px #ffffff;
  box-shadow: inset 0 0 4px -1px #ffffff;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #ffffff;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 33px;
  font-weight: 400;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search-form_input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.search-form_input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.search-form_input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.search-form_input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.search-form_submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  color: #ffffff;
  font: 400 20px/24px 'FontAwesome', sans-serif;
  top: 14px;
  right: 17px;
  width: 25px;
  height: 22px;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:before {
  content: '\f002';
}
.search-form_submit:hover {
  color: #e7931a;
}
@media (max-width: 767px) {
  .search-form {
    display: block;
    position: fixed;
    width: 94%;
    top: 55px;
    left: 3%;
    right: 3%;
    padding: 0;
    z-index: 999999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .search-form_label {
    background: #ffffff;
    border-color: rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #473816;
  }
  .search-form_input {
    color: #473816;
    /* Firefox 19+ */
    /* Firefox 18- */
  }
  .search-form_input::-webkit-input-placeholder {
    color: #473816;
    opacity: 1;
  }
  .search-form_input::-moz-placeholder {
    color: #473816;
    opacity: 1;
  }
  .search-form_input:-moz-placeholder {
    color: #473816;
    opacity: 1;
  }
  .search-form_input:-ms-input-placeholder {
    color: #473816;
    opacity: 1;
  }
  .search-form_submit {
    color: #473816;
  }
  .search-form_submit:hover {
    color: #e7931a;
  }
  .search-form.on {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
  }
}
.search-form_toggle {
  position: absolute;
  float: right;
  color: #473816;
  font: 400 30px/30px 'FontAwesome';
  min-width: 29px;
  z-index: 999999999;
  margin: 0;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  bottom: 15px;
}
.search-form_toggle:before,
.search-form_toggle:after {
  position: absolute;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
}
.search-form_toggle:before {
  content: '\f002';
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 .search-form_toggle:before {
  filter: alpha(opacity=100);
}
.search-form_toggle:after {
  content: '\f00d';
  opacity: 0;
  filter: alpha(opacity=0);
}
.lt-ie9 .search-form_toggle:after {
  filter: alpha(opacity=0);
}
.search-form_toggle.active,
.search-form_toggle:hover {
  color: #be1e2d;
}
.search-form_toggle.active:before {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lt-ie9 .search-form_toggle.active:before {
  filter: alpha(opacity=0);
}
.search-form_toggle.active:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: translateY(2px) rotate(180deg);
  -ms-transform: translateY(2px) rotate(180deg);
  -o-transform: translateY(2px) rotate(180deg);
  -webkit-transform: translateY(2px) rotate(180deg);
  transform: translateY(2px) rotate(180deg);
}
.lt-ie9 .search-form_toggle.active:after {
  filter: alpha(opacity=100);
}
@media (max-width: 767px) {
  .search-form_toggle {
    position: fixed;
    right: 34px;
    top: 11px;
    z-index: 99999992;
    margin: 0;
    color: #473816;
    font-size: 23px;
  }
  .search-form_toggle.active,
  .search-form_toggle:hover {
    color: #e7931a;
  }
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  font-weight: 500;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_list p {
  margin: 0;
}
.search-form_liveout .search_link {
  font-family: 'Lato', sans-serif;
  display: block;
  padding: 5px 10px;
  background: #ffffff;
  color: #e7931a;
}
.search-form_liveout .search_link .search_title {
  color: #be1e2d;
  font: 700 13px/18px 'Lato', sans-serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #e7931a;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #e7931a;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 14px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #5e3c0a;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #e7931a;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #be1e2d;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #e7931a;
}
.search-frame .search_list {
  color: #473816;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'Lato', sans-serif;
}
.search-frame .search_list .match {
  color: #e7931a;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:before {
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 17px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: inherit;
  color: #be1e2d;
}
.search-frame .search_list li + li {
  border-top: 5px solid #e7931a;
}
.search-frame .search {
  color: #e7931a;
  font-weight: 700;
}
.search-frame .match {
  color: #be1e2d;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
