<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" />
	</startup>
	<appSettings />
	<connectionStrings />
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		<machineKey validationKey="CB1544E26A2E6379B9C56C57F957CC21CABA991268A0A463B4E8E0D4B3342347F9C249C0A15EDDFAE65D28AD6B9FD9C10F154A47F247286D96034ED84DC67B11" decryptionKey="0A713B82915CEA9DD69B47513DA86FECA2F2771B8BF40AD19C1A4D1E3393AC8C" validation="SHA1" decryption="AES" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
		<sessionState timeout="200"></sessionState>
		<compilation debug="true" targetFramework="4.5.2">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Logon" timeout="2880" />
		</authentication>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="asp" />
				<add namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" tagPrefix="FCKeditorV2" />
			</controls>
		</pages>
		<globalization culture="vi-VN" uiCulture="vi" />
		<customErrors mode="Off" defaultRedirect="InnerError.html">
			<error statusCode="403" redirect="NoAccess.html" />
			<error statusCode="404" redirect="FileNotFound.html" />
		</customErrors>
		<identity impersonate="true"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
        <directoryBrowse enabled="false" />
		<!--<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					--><!--<match url="(.*)" />--><!--
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>-->
	</system.webServer>

</configuration>